---
import Card from '@/components/portfolio/ui/Card'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress
})
---

<section
	data-testid='projects'
	id='projects'
	class='z-50 min-h-[800px] max-h-[1200px] h-screen bg-white dark:bg-black mb-10 flex flex-col items-center justify-center'
>
	<div
		class='w-full bg-white border-4 border-black dark:bg-black
                            shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] dark:shadow-white
                            transform hover:-translate-y-1 hover:shadow-[12px_12px_0px_0px_rgba(0,0,0,1)]
                            transition-all duration-300 p-6 mb-10'
	>
		<h1 class='z-50 text-4xl md:text-5xl font-black text-black text-center dark:text-white'>
			Projects 🚀
		</h1>
	</div>
	<div
		class='z-50 mb-10 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-center items-center'
	>
		{
			projects.map((project) => (
				<Card
					title={project.data.title}
					category={project.data.category}
					repo={project.data.repo}
					link={project.data.link}
					description={project.data.description}
					tags={project.data.tags}
				/>
			))
		}
	</div>
	<a
		href='https://github.com/'
		target='_blank'
		rel='noopener'
		class='z-50 flex flex-row text-black hover:text-orange dark:text-white dark:hover:text-orange'
		aria-label='link to repository'
	>
		View full private projects archive
		<svg
			xmlns='http://github.com/Brian-Kariu/?tab=repositories'
			fill='none'
			viewBox='0 0 24 24'
			stroke-width='1.5'
			stroke='currentColor'
			class='ml-1 h-6 w-6'
		>
			<path
				stroke-linecap='round'
				stroke-linejoin='round'
				d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'></path>
		</svg>
	</a>
</section>
