---
import { FaArrowRight } from 'react-icons/fa6'
import Tags from '@/components/portfolio/ui/Tags'
import { Button } from '@/components/ui.astro/button.tsx'
import { ExternalLink, Github } from 'lucide-react'
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle
} from '@/components/ui.astro/card.tsx'
import { Input } from '@/components/ui.astro/input.tsx'
import { Label } from '@/components/ui.astro/label.tsx'
import { Badge } from '@/components/ui.astro/badge.tsx'

interface Props {
	category: string
	repo: string
	title?: string
	link?: string
	description: string
	tags: string[]
	children?: HTMLElement | HTMLElement[]
}

const {
	category = 'Project Category',
	description = 'Project Description',
	title = 'Project title',
	repo = 'Link to repo',
	link = 'Link to project site',
	tags = ['Tags']
} = Astro.props

const isVisible = link ? true : false
---

<section class='w-full h-full'>
	<Card className='w-full h-full bg-white transform transition-transform hover:scale-105'>
		<CardHeader>
			<h1 class='text-xl text-orange'>{title}</h1>
			<code class='text-xs'>{category}</code>
		</CardHeader>
		<CardContent>
			<p class='mb-4 text-sm'>{description}</p>
			<div class='flex flex-wrap gap-2 mb-4'>
				{
					tags.map((tech, index) => (
						<Badge
							key={index}
							className='flex justify-center bg-yellow-200 whitespace-nowrap text-center'
						>
							{tech}
						</Badge>
					))
				}
			</div>
		</CardContent>
		<CardFooter className='flex-col gap-2'>
			<div class='flex gap-4'>
				<a
					href={repo}
					target='_blank'
					rel='noopener noreferrer'
					class='flex items-center gap-2 px-4 py-2 text-black font-bold transform transition-transform hover:-translate-y-1 hover:shadow-lg dark:text-black'
					style={{
						border: '2px solid black',
						boxShadow: '4px 4px 0px 0px #000000'
					}}
				>
					<Github size={20} />
					Code
				</a>
				<a
					href={link}
					target='_blank'
					rel='noopener noreferrer'
					class=`${isVisible ? 'block' : 'hidden'} flex items-center gap-2 px-4 py-2  text-black font-bold transform transition-transform hover:-translate-y-1 hover:shadow-lg dark:text-black`
					style={{
						border: '2px solid black',
						boxShadow: '4px 4px 0px 0px #000000'
					}}
				>
					<ExternalLink size={20} />
					Site
				</a>
			</div>
		</CardFooter>
	</Card>
</section>
